.DS_Store
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests/locators/t.spec.js

.idea/
.env
/state/user1.json
tests-examples

git add .
git commit -m "Config"
git push -u origin main